@page "/Dashboard"
@using MudBlazor
@using MudBlazorWebApp240916.Shared.DataModel
@inject IDialogService DialogService
@using MudBlazorWebApp240916.Client.Pages 

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="min-height: 450px;">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <MudText Typo="Typo.h6">Temperature</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Lightbulb" Color="Color.Tertiary" OnClick="() => OpenNoteDialog()" />
                </div>
                <MudChart ChartType="ChartType.Line" ChartSeries="@TemperatureSeries" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" />
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="min-height: 450px;">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <MudText Typo="Typo.h6">Humidity</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Thermostat" Color="Color.Secondary" OnClick="() => OpenNoteDialog()" />
                </div>
                <MudChart ChartType="ChartType.Line" ChartSeries="@HumiditySeries" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" />
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="min-height: 450px;">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <MudText Typo="Typo.h6">Soil Moisture</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.WaterDrop" Color="Color.Info" OnClick="() => OpenNoteDialog()" />
                    @* <MudButton Variant="Variant.Outlined" Color="Color.Info" Style="border-color: white;" OnClick="() => OpenNoteDialog()" Class="custom-hover-button">
                        <MudIcon Icon="@Icons.Material.Filled.WaterDrop" />
                    </MudButton> *@

                    <style>
                        .custom-hover-button:hover {
                            background-color: green; /* 마우스를 가져다 댔을 때 초록색으로 */
                            border-color: green; /* 테두리도 초록색으로 변경 */
                            color: white; /* 텍스트 색상 변경 (선택사항) */
                        }
                    </style>
                </div>
                <MudChart ChartType="ChartType.Bar" ChartSeries="@SoilMoistureSeries" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" />
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="min-height: 450px;">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <MudText Typo="Typo.h6">CO2 Levels</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.WindPower" Color="Color.Primary" OnClick="() => OpenNoteDialog()" />
                </div>
                <MudChart ChartType="ChartType.Line" ChartSeries="@CO2Series" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" />
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="min-height: 490px;">
                <MudText Typo="Typo.h6">Farm Status Overview</MudText>

                @if (Notes.Count == 0)
                {
                    <MudText Typo="Typo.body1">
                        All systems functioning normally. No issues detected.
                    </MudText>
                }
                else
                {
                    <MudList T="Note">
                        @foreach (var note in Notes)
                        {
                            <MudListItem>
                                <MudText Typo="Typo.body1">@note.Title (@note.Date.ToString("d"))</MudText>
                            </MudListItem>
                        }
                    </MudList>
                }

                <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="OpenNoteDialog" />
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    public string[] XAxisLabels = { "1 PM", "2 PM", "3 PM", "4 PM", "5 PM" };

    public List<ChartSeries> TemperatureSeries { get; set; } = new List<ChartSeries>
    {
        new ChartSeries
        {
            Name = "Temperature1 (°C)",
            Data = new double[] { 24, 25, 23, 26, 24 }
        },
        new ChartSeries
        {
            Name = "Temperature2 (°C)",
            Data = new double[] { 25, 26, 25, 23, 25 }
        },
        new ChartSeries
        {
            Name = "Temperature3 (°C)",
            Data = new double[] { 27, 28, 29, 24, 23 }
        },
        new ChartSeries
        {
            Name = "Temperature4 (°C)",
            Data = new double[] { 22, 29, 26, 29, 30 }
        }

    };

    public List<ChartSeries> HumiditySeries { get; set; } = new List<ChartSeries>
    {
        new ChartSeries
        {
            Name = "Humidity1 (%)",
            Data = new double[] { 45, 50, 47, 49, 52 }
        },
        new ChartSeries
        {
            Name = "Humidity2 (%)",
            Data = new double[] { 35, 40, 37, 29, 12 }
        },
        new ChartSeries
        {
            Name = "Humidity3 (%)",
            Data = new double[] { 55, 20, 37, 69, 72 }
        },
        new ChartSeries
        {
            Name = "Humidity4 (%)",
            Data = new double[] { 15, 20, 47, 59, 12 }
        }


    };

    public List<ChartSeries> SoilMoistureSeries { get; set; } = new List<ChartSeries>
    {
        new ChartSeries
        {
            Name = "Soil Moisture1 (%)",
            Data = new double[] { 30, 35, 32, 33, 34 },
        },
        new ChartSeries
        {
            Name = "Soil Moisture2 (%)",
            Data = new double[] { 20, 15, 42, 23, 54 },
        },
        new ChartSeries
        {
            Name = "Soil Moisture3 (%)",
            Data = new double[] { 20, 15, 32, 23, 39 },
        }
    };

    public List<ChartSeries> CO2Series { get; set; } = new List<ChartSeries>
    {
        new ChartSeries
        {
            Name = "CO2 (ppm) 1",
            Data = new double[] { 400, 420, 410, 405, 415 },
        },
        new ChartSeries
        {
            Name = "CO2 (ppm) 2",
            Data = new double[] { 300, 320, 310, 305, 315 },
        },
                new ChartSeries
        {
            Name = "CO2 (ppm) 3",
            Data = new double[] { 280, 520, 210, 350, 395 },
        },

    };

    private List<Note> Notes { get; set; } = new List<Note>();

    private async Task OpenNoteDialog ()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };

        var dialog = DialogService.Show<AddNoteDialog>("Add a new Note", parameters, options);
        var result = await dialog.Result;

        if (result != null && !result.Canceled && result.Data is Note note)
        {
            Notes.Add(note); // 메모 추가
        }
    }
}
